body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}
h1 {
  margin: 0;
  font-size: 1.8rem;
}
.heading {
  width: 40vw;
}
.para {
  font-size: 1.1rem;
  margin: 0;
}
header,
footer {
  display: flex;
  align-items: center;
  background-color: hsl(136, 65%, 51%);
  padding: 2vh 0 2vh 1vw;
  width: 100vw;
}
/* footer {
  position: fixed;
  bottom: 0;
} */
.cart-icon {
  height: 50px;
  width: 50px;
}
#go-back {
  cursor: pointer;
}
button {
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 30px;
  background-color: hsl(61, 82%, 49%);
  color: black;
}
.login-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  align-self: flex-end;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-self: flex-end;
}
#login:hover {
  cursor: pointer;
  background-color: hsl(79, 85%, 69%);
}
#signup:hover {
  cursor: pointer;
  background-color: hsl(79, 85%, 69%);
}
#logout:hover {
  cursor: pointer;
  background-color: hsl(79, 85%, 69%);
}
#main-container {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}
@media all and (min-width: 992px) {
  header {
    padding: 2vh 0px 2vh 3vw;
  }
  .heading {
    width: 50vw;
  }
  .login-container {
    margin-left: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .button-container {
    display: flex;
    flex-direction: row;
  }
  #main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 5px;
  margin-left: 2vw;
}
.cart-para {
  font-size: 20px;
}
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  background-color: rgb(233, 245, 233);
  border-radius: 0.6rem;
  margin: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
}
.product-image {
  height: 35vh;
  width: 80vw;
  object-fit: contain;
  margin-top: 2vh;
  border-radius: 0.6rem;
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin: 2vw;
  width: 100vw;
  text-align: center;
  flex-grow: 1;
}
.cost-container {
  display: flex;
  margin-bottom: 0.8rem;
}

.rupee-icon {
  margin-top: 8px;
  margin-right: 5px;
}
@media all and (min-width: 768px) {
  .product-image {
    height: 45vh;
    object-fit: contain;
  }
}
@media all and (min-width: 992px) {
  .product-container {
    width: 25vw;
  }
  .product-image {
    height: 43vh;
    width: 20vw;
    object-fit: contain;
  }
  .title {
    width: 27vw;
  }
}

.single-product-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 245, 233);
  padding-top: 2vh;
}
.single-product-image {
  height: 40vh;
  object-fit: contain;
}
.about-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
}

.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  background-color: hsl(136, 65%, 51%);
  padding: 8px;
  gap: 3px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.rating-para {
  margin: 0px;
  font-size: 1.1rem;
}
@media all and (min-width: 992px) {
  .single-product-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: rgb(233, 245, 233);
    border-radius: 10px;
    height: 80vh;
    padding: 20px;
  }
  .single-product-image {
    height: 60vh;
    max-width: 60vw;
    align-self: center;
    border-radius: 10px;
    object-fit: contain;
  }
  .about-product {
    align-items: flex-start;
    margin-top: 1.5rem;
  }
  .rating-container {
    width: 6vw;
  }
}
.error-msg {
  height: 70vh;
}
.loader {
  color: black;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
  margin-bottom: 20px;
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
.no-display {
  display: none;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
