body {
  margin: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.my-form {
  background-color: rgb(233, 245, 233);
  border: 1px solid rgb(1, 24, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  width: 90vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 80vw;
  margin-top: 0.8rem;
  border-radius: 0.5rem;
}
.input-field {
  padding: 0.6rem;
  border: 0.16rem solid hsl(61, 82%, 49%);
  border-radius: 0.5rem;
  font-size: 0.9rem;
}
.submit-button {
  cursor: pointer;
}
.empty-msg {
  margin: 0;
  color: rgb(221, 24, 24);
}

@media all and (min-width: 991px) {
  .my-form {
    width: 30vw;
  }
  .input-container {
    width: 25vw;
  }
}
.success-msg {
  color: hsl(135, 83%, 5%);
  font-size: 1.6rem;
}
